@import '../../styles/variables';

.account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  padding: 20px;

  background-color: $white-1;
  border: 2px solid transparent;
  border-radius: 12px;
  box-shadow: $box-shadow-1;

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-number {
      font-size: 14px;
      font-weight: 400;
      color: $gray-3;
    }

    &-value {
      font-size: 20px;
      font-weight: 600;
      color: $black-1;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: $box-shadow-2;
  }
}
