$background-color: #5f5f5f;
$font-color: #cacaca;
$font-color__selected: #6c6eff;

.menu_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    width: 100%;
    padding: 0 20px;

    background-color: #fff;
    border: 1px solid #dee2e6;
    border-width: 0 0 2px;
    box-shadow: 0 0 10px rgba($color: #000, $alpha: 10%);

    .menu_tabs_content {
        width: 100%;

        & ul {
            margin-bottom: -2px;
            padding-top: 5px;
        }
    }

    &_logout {
        width: 150px;
        height: 40px;
    }
}

.menu_container__dark {
    background-color: $background-color;
    border: none;
    box-shadow: 0 0 15px rgba($color: #fff, $alpha: 30%);

    .menu_tabs_content {
        & ul {
            margin-bottom: 0;
            padding-top: 3px;
            background: $background-color !important;
            border: 1px solid $background-color !important;

            & li[aria-selected="false"] {
                & a {
                    color: $font-color !important;
                    background-color: $background-color !important;
                    border: solid $background-color !important;
                }
            }

            & li[aria-selected="true"] {
                & a {
                    color: $font-color__selected !important;
                    background-color: $font-color !important;
                    border-color: #6366f1;
                }
            }
        }
    }
}
