@import '../../styles//variables.scss';

.table {
    box-shadow: $box-shadow-1;

    &_btn {
        &__block {
            background-color: $red;
        }

        &__unblock {
            background-color: $green;
        }
    }

    &_column {
        text-align: center !important;

        &>div {
            display: flex;
            justify-content: center;
        }

        &__icon {
            display: flex;
            justify-content: center;
        }
    }
}