@import "../style.module";

.button {
    font-weight: 600;
    color: $light_blue;
    background: none;
    border: none;

    &:hover {
        box-shadow: none;
    }

    &:active {
        box-shadow: none;
    }
}