@import "../../../styles/variables";

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 10px 20px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $light_blue;

    border: 0;
    border: 2px solid $light_blue;
    border-radius: 4px;
    outline: none;

    & svg {
        width: 24px;
        height: 24px;
    }

    &:disabled {
        opacity: 0.5;
    }

    &:hover {
        cursor: pointer;
        box-shadow: $box-shadow-input;
    }

    &:active {
        box-shadow: $box-shadow-input-hover;
    }
}