.root {
	overflow-y: auto;
	display: flex;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	& .to_admin_panel {
		position: fixed;
		bottom: 20px;
		left: 20px;
		width: 270px;
	}

	& .feed {
		display: flex;
		flex-direction: column;
		gap: 30px;

		width: 100%;
		max-width: 500px;
		height: fit-content;
		padding: 40px 0;

		&_news {
			overflow: hidden;
			display: flex;
			flex-direction: column;

			width: 100%;

			background-color: white;
			border: 1px solid rgba($color: #000, $alpha: 10%);
			border-radius: 20px;
			box-shadow: 0 0 5px rgba($color: #000, $alpha: 20%);

			&_image {
				width: 100%;
				max-height: 300px;
				object-fit: cover;
			}

			&_description {
				display: flex;
				flex-direction: column;
				gap: 10px;
				padding: 15px 20px;

				&_title {
					overflow: hidden;
					display: -webkit-box;

					margin: 0;
					padding: 0;

					text-overflow: ellipsis;

					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
				}

				&_meta {
					display: flex;
					flex-direction: row;
					gap: 10px;

					font-weight: 600;
					color: rgba($color: #000, $alpha: 40%);
				}

				&_text {
					overflow: hidden;
					display: -webkit-box;

					text-overflow: ellipsis;

					-webkit-box-orient: vertical;
					-webkit-line-clamp: 4;
				}
			}
		}
	}
}
