.next-error-h1 {
    margin-left: 200px !important;
}

.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}

.editor-container {
    position: relative;

    overflow: hidden;

    width: 100%;

    font-weight: 400;
    line-height: 20px;
    color: #000;
    text-align: left;

    border-radius: 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.editor-inner {
    position: relative;
    background: #fff;
}

.editor-input {
    resize: none;

    position: relative;

    min-height: 150px;
    padding: 15px 10px;

    font-size: 15px;
    tab-size: 1;

    outline: 0;
    caret-color: rgb(5 5 5);
    caret-color: #444;
}

.editor-placeholder {
    pointer-events: none;
    user-select: none;

    position: absolute;
    top: 15px;
    left: 10px;

    overflow: hidden;
    display: inline-block;

    font-size: 15px;
    color: #999;
    text-overflow: ellipsis;
}

.editor-text-bold {
    font-weight: bold;
}

.editor-text-italic {
    font-style: italic;
}

.editor-text-underline {
    text-decoration: underline;
}

.editor-text-strikethrough {
    text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
}

.editor-text-code {
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
    background-color: rgb(240 242 245);
}

.editor-link {
    color: rgb(33 111 219);
    text-decoration: none;
}

.tree-view-output {
    position: relative;

    overflow: auto;
    display: block;

    max-height: 250px;
    margin: 1px auto 10px;
    padding: 5px;

    font-size: 12px;
    line-height: 14px;
    color: #fff;
    white-space: pre-wrap;

    background: #222;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.editor-code {
    position: relative;

    /*white-space: pre;*/
    overflow-x: auto;
    display: block;

    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px 8px 8px 52px;

    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 13px;
    line-height: 1.53;
    tab-size: 2;

    background-color: rgb(240 242 245);
}

.editor-code::before {
    content: attr(data-gutter);

    position: absolute;
    top: 0;
    left: 0;

    min-width: 25px;
    padding: 8px;

    color: #777;
    text-align: right;
    white-space: pre-wrap;

    background-color: #eee;
    border-right: 1px solid #ccc;
}

.editor-code::after {
    content: attr(data-highlight-language);

    position: absolute;
    top: 0;
    right: 3px;

    padding: 3px;

    font-size: 10px;
    color: rgb(0 0 0 / 50%);
    text-transform: uppercase;
}

.editor-tokenComment {
    color: slategray;
}

.editor-tokenPunctuation {
    color: #999;
}

.editor-tokenProperty {
    color: #905;
}

.editor-tokenSelector {
    color: #690;
}

.editor-tokenOperator {
    color: #9a6e3a;
}

.editor-tokenAttr {
    color: #07a;
}

.editor-tokenVariable {
    color: #e90;
}

.editor-tokenFunction {
    color: #dd4a68;
}

.editor-paragraph {
    position: relative;
    margin: 0;
    margin-bottom: 8px;
}

.editor-paragraph:last-child {
    margin-bottom: 0;
}

.editor-heading-h1 {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;

    font-size: 24px;
    font-weight: 400;
    color: rgb(5 5 5);
}

.editor-heading-h2 {
    margin: 0;
    margin-top: 10px;
    padding: 0;

    font-size: 15px;
    font-weight: 700;
    color: rgb(101 103 107);
    text-transform: uppercase;
}

.editor-quote {
    margin: 0;
    margin-left: 20px;
    padding-left: 16px;

    font-size: 15px;
    color: rgb(101 103 107);

    border-left-color: rgb(206 208 212);
    border-left-style: solid;
    border-left-width: 4px;
}

.editor-list-ol {
    margin: 0;
    margin-left: 16px;
    padding: 0;
}

.editor-list-ul {
    margin: 0;
    margin-left: 16px;
    padding: 0;
}

.editor-listitem {
    margin: 8px 32px;
}

.editor-nested-listitem {
    list-style-type: none;
}

pre::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

pre::-webkit-scrollbar-thumb {
    background: #999;
}

.debug-timetravel-panel {
    overflow: hidden;
    display: flex;
    margin: auto;
    padding: 0 0 10px;
}

.debug-timetravel-panel-slider {
    flex: 8;
    padding: 0;
}

.debug-timetravel-panel-button {
    flex: 1;

    padding: 0;

    font-size: 12px;
    color: #fff;

    background: none;
    border: 0;
}

.debug-timetravel-panel-button:hover {
    text-decoration: underline;
}

.debug-timetravel-button {
    position: absolute;
    top: 10px;
    right: 15px;

    padding: 0;

    font-size: 12px;
    color: #fff;

    background: none;
    border: 0;
}

.debug-timetravel-button:hover {
    text-decoration: underline;
}

.emoji {
    margin: 0 -1px;

    color: transparent;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
}

.emoji-inner {
    padding: 0 0.15em;
}

.emoji-inner::selection {
    color: transparent;
    background-color: rgb(150 150 150 / 40%);
}

.emoji-inner::moz-selection {
    color: transparent;
    background-color: rgb(150 150 150 / 40%);
}

.emoji.happysmile {
    background-image: url(../public/images/emoji/1F642.png);
}

.toolbar {
    display: flex;

    margin-bottom: 1px;
    padding: 4px;

    vertical-align: middle;

    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.toolbar button.toolbar-item {
    cursor: pointer;

    display: flex;

    padding: 8px;

    vertical-align: middle;

    background: none;
    border: 0;
    border-radius: 10px;
}

.toolbar button.toolbar-item:disabled {
    cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
    margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
    display: inline-block;
    display: flex;

    width: 18px;
    height: 18px;
    margin-top: 2px;

    vertical-align: -0.25em;

    opacity: 0.6;
    background-size: contain;
}

.toolbar button.toolbar-item:disabled i.format {
    opacity: 0.2;
}

.toolbar button.toolbar-item.active {
    background-color: rgb(223 232 250 / 30%);
}

.toolbar button.toolbar-item.active i {
    opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
    background-color: #eee;
}

.toolbar .divider {
    width: 1px;
    margin: 0 4px;
    background-color: #eee;
}

.toolbar select.toolbar-item {
    display: flex;

    width: 70px;
    padding: 8px;

    font-size: 14px;
    color: #777;
    text-overflow: ellipsis;
    vertical-align: middle;

    background: none;
    border: 0;
    border-radius: 10px;

    appearance: none;
}

.toolbar select.code-language {
    width: 130px;
    text-transform: capitalize;
}

.toolbar .toolbar-item .text {
    overflow: hidden;
    display: flex;

    width: 200px;
    width: 70px;
    height: 20px;

    font-size: 14px;
    line-height: 20px;
    color: #777;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.toolbar .toolbar-item .icon {
    user-select: none;

    display: flex;

    width: 20px;
    height: 20px;
    margin-right: 8px;

    line-height: 16px;

    background-size: contain;
}

.toolbar i.chevron-down {
    user-select: none;

    display: flex;

    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.toolbar i.chevron-down.inside {
    pointer-events: none;

    display: flex;

    width: 16px;
    height: 16px;
    margin-top: 11px;
    margin-right: 10px;
    margin-left: -25px;
}

i.chevron-down {
    display: inline-block;

    width: 8px;
    height: 8px;

    background-color: transparent;
    background-image: url(../public/images/icons/chevron-down.svg);
    background-size: contain;
}

#block-controls button:hover {
    background-color: #efefef;
}

#block-controls button:focus-visible {
    border-color: blue;
}

#block-controls span.block-type {
    display: block;

    width: 18px;
    height: 18px;
    margin: 2px;

    background-size: contain;
}

#block-controls span.block-type.paragraph {
    background-image: url(../public/images/icons/text-paragraph.svg);
}

#block-controls span.block-type.h1 {
    background-image: url(../public/images/icons/type-h1.svg);
}

#block-controls span.block-type.h2 {
    background-image: url(../public/images/icons/type-h2.svg);
}

#block-controls span.block-type.quote {
    background-image: url(../public/images/icons/chat-square-quote.svg);
}

#block-controls span.block-type.ul {
    background-image: url(../public/images/icons/list-ul.svg);
}

#block-controls span.block-type.ol {
    background-image: url(../public/images/icons/list-ol.svg);
}

#block-controls span.block-type.code {
    background-image: url(../public/images/icons/code.svg);
}

.dropdown {
    position: absolute;
    z-index: 5;

    display: block;

    min-width: 100px;
    min-height: 40px;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 10%),
        inset 0 0 0 1px rgb(255 255 255 / 50%);
}

.dropdown .item {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-content: center;
    justify-content: space-between;

    min-width: 268px;
    margin: 0 8px;
    padding: 8px;

    font-size: 15px;
    line-height: 16px;
    color: #050505;

    background-color: #fff;
    border: 0;
    border-radius: 8px;
}

.dropdown .item .active {
    display: flex;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.dropdown .item:first-child {
    margin-top: 8px;
}

.dropdown .item:last-child {
    margin-bottom: 8px;
}

.dropdown .item:hover {
    background-color: #eee;
}

.dropdown .item .text {
    display: flex;
    flex-grow: 1;
    width: 200px;
    line-height: 20px;
}

.dropdown .item .icon {
    user-select: none;

    display: flex;

    width: 20px;
    height: 20px;
    margin-right: 12px;

    line-height: 16px;

    background-size: contain;
}

.link-editor {
    position: absolute;
    z-index: 100;
    top: -10000px;
    left: -10000px;

    width: 100%;
    max-width: 300px;
    margin-top: -6px;

    opacity: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);

    transition: opacity 0.5s;
}

.link-editor .link-input {
    position: relative;

    display: block;

    box-sizing: border-box;
    width: calc(100% - 24px);
    margin: 8px 12px;
    padding: 8px 12px;

    font-family: inherit;
    font-size: 15px;
    color: rgb(5 5 5);

    background-color: #eee;
    border: 0;
    border-radius: 15px;
    outline: 0;
}

.link-editor div.link-edit {
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 35px;

    vertical-align: -0.25em;

    background-image: url(../public/images/icons/pencil-fill.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

.link-editor .link-input a {
    overflow: hidden;
    display: block;

    margin-right: 30px;

    color: rgb(33 111 219);
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-editor .link-input a:hover {
    text-decoration: underline;
}

.link-editor .button {
    cursor: pointer;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 6px;

    border-radius: 8px;
}

.link-editor .button.hovered {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #eee;
}

.link-editor .button i,
.actions i {
    display: inline-block;

    width: 20px;
    height: 20px;

    vertical-align: -0.25em;

    background-size: contain;
}

i.undo {
    background-image: url(../public/images/icons/arrow-counterclockwise.svg);
}

i.redo {
    background-image: url(../public/images/icons/arrow-clockwise.svg);
}

.icon.paragraph {
    background-image: url(../public/images/icons/text-paragraph.svg);
}

.icon.large-heading,
.icon.h1 {
    background-image: url(../public/images/icons/type-h1.svg);
}

.icon.small-heading,
.icon.h2 {
    background-image: url(../public/images/icons/type-h2.svg);
}

.icon.bullet-list,
.icon.ul {
    background-image: url(../public/images/icons/list-ul.svg);
}

.icon.numbered-list,
.icon.ol {
    background-image: url(../public/images/icons/list-ol.svg);
}

.icon.quote {
    background-image: url(../public/images/icons/chat-square-quote.svg);
}

.icon.code {
    background-image: url(../public/images/icons/code.svg);
}

i.bold {
    background-image: url(../public/images/icons/type-bold.svg);
}

i.italic {
    background-image: url(../public/images/icons/type-italic.svg);
}

i.underline {
    background-image: url(../public/images/icons/type-underline.svg);
}

i.strikethrough {
    background-image: url(../public/images/icons/type-strikethrough.svg);
}

i.code {
    background-image: url(../public/images/icons/code.svg);
}

i.link {
    background-image: url(../public/images/icons/link.svg);
}

i.left-align {
    background-image: url(../public/images/icons/text-left.svg);
}

i.center-align {
    background-image: url(../public/images/icons/text-center.svg);
}

i.right-align {
    background-image: url(../public/images/icons/text-right.svg);
}

i.justify-align {
    background-image: url(../public/images/icons/justify.svg);
}
