$white: white;
$black: black;
$button_gradient: linear-gradient(90deg, rgb(20 55 245 / 100%) 0%, rgb(58 132 247 / 100%) 100%);
$island_gradient: linear-gradient(45deg, rgb(23 112 255) 0%, rgb(20 61 245) 100%);
$menu_gradient: linear-gradient(145deg, rgb(23 112 255) 0%, rgb(20 61 245) 100%);
$blue: rgb(20 61 245);
$light_blue: rgb(23 112 255);
$light_gray: rgb(197 197 197);
$light_green: rgb(39 174 96 / 12%);
$light_red: rgb(65 43 42 / 12%);
$light_yellow: rgb(255 217 18 / 12%);
$box-shadow-input: 0 4px 4px rgb(51 51 51 / 4%),
0 4px 16px rgb(51 51 51 / 8%);
$box-shadow-input-hover: -2px 0 19px 0 rgb(34 60 80 / 20%);
$red: #ff6259;
$green: rgb(117 225 51);
$box-shadow-1: 0 4px 24px rgb(0 0 0 / 12%);
$box-shadow-2: 0 12px 36px rgb(0 0 0 / 12%);
$white-1: #fff;
$gray-1: #f5f5f5;
$gray-2: #eaeaea;
$gray-3: #afafaf;
$black-1: #202020;